** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


#mydiv {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4460eb;
    padding: 15px 20px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav-right button {
    background-color: #ff9f0f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-right button:hover {
    background-color: #ffc164;
}


#maincontent {
    flex-grow: 1;
    padding: 40px;
    background-color: #b8dbfe;
}

.success-stories {
    text-align: center;
}

.success-stories h2 {
    font-size: 2rem;
    color: #2f4fef;
    margin-bottom: 10px;
}

.success-stories .subtitle {
    font-size: 1rem;
    color: #0e36fb;
    margin-bottom: 20px;
}

.testimonial-box {
    background-color: #f7bc64;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #0e36fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.testimonial-box p {
    color: #202020;
    line-height: 1.5;
}

.testimonial-box a {
    color: #007BFF;
    text-decoration: none;
}

.testimonial-box a:hover {
    text-decoration: underline;
}

.testimonial-box strong {
    color: #000000;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

.testimonial-box br {
    margin-bottom: 5px;
}